@import "tailwindcss";

:root {
  --color-brand-dark: #121212;
  --color-brand-brown: #694030;
  --color-brand-yellow: #f3c554;
  --color-brand-yellow-dark: #e3a645;
  --color-brand-nav: #ffe5a3;
  --color-brand-gray: #919191;
  --color-brand-text: #d9d9d9;
  --font-quicksand: var(--font-quicksand);
  --font-inter: var(--font-inter);
  color-scheme: dark;
}

body {
  background-color: var(--color-brand-dark);
  color: var(--color-brand-text);
  font-family: var(--font-quicksand), sans-serif;
}

.font-inter {
  font-family: var(--font-inter), sans-serif;
}

.font-quicksand {
  font-family: var(--font-quicksand), sans-serif;
}

.text-shadow-custom {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.text-shadow-lg-custom {
  text-shadow: 0 5px 7px rgba(0, 0, 0, 0.25);
}
